In [1]:
import pandas as pd

In [6]:
pd.read_csv

<function pandas.io.parsers._make_parser_function.<locals>.parser_f(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)>

In [7]:
df = pd.read_csv(filepath_or_buffer='occutherm_dataset.csv')

In [10]:
df[['Discrete Thermal Comfort_TA', 'Thermal Comfort TA']]

      Discrete Thermal Comfort_TA           Thermal Comfort TA
0                               0                  COMFORTABLE
1                               0                  COMFORTABLE
2                               0                  COMFORTABLE
3                               0                  COMFORTABLE
4                               0                  COMFORTABLE
...                           ...                          ...
7307                            1  SLIGHTLY_UNCOMFORTABLY_WARM
7308                            1  SLIGHTLY_UNCOMFORTABLY_WARM
7309                            1  SLIGHTLY_UNCOMFORTABLY_WARM
7310                            1  SLIGHTLY_UNCOMFORTABLY_WARM
7311                            1  SLIGHTLY_UNCOMFORTABLY_WARM

[7312 rows x 2 columns]

In [16]:
df['class'].value_counts()

BandData      5319
SurveyData    1770
MergedData     223
Name: class, dtype: int64

In [47]:
df[lambda df: df['class'] == 'SurveyData']

,Participant_No,class,timestamp,Day,Time Broken,Day_Time,Text(Day_Time),Temperature (Fahrenheit),Total Seconds,Diff Seconds,...,Activity,ActivityDescription,Thermal Comfort TA,Height(cm),Shoulder Circumference(cm),Weight(lbs),Gender,Temperature_outside,Humidity_outside,Discrete Thermal Comfort_TA
1,1,SurveyData,2017-07-18 13:07:47,7/18/17,9:07:47,7/18/17 9:07:47,42934.38041,64.059998,32867.0,13.0,...,OTHER,NaN,COMFORTABLE,165.1,111.6,200.0,Female,84.180000,61.099998,0
9,1,SurveyData,2017-07-18 13:15:33,7/18/17,9:15:33,7/18/17 9:15:33,42934.38580,62.020000,33333.0,479.0,...,WORKING,NaN,COMFORTABLE,165.1,111.6,200.0,Female,84.180000,61.099998,0
11,1,SurveyData,2017-07-18 13:19:47,7/18/17,9:19:47,7/18/17 9:19:47,42934.38874,61.099998,33587.0,733.0,...,OTHER,study,COMFORTABLE,165.1,111.6,200.0,Female,84.180000,61.099998,0
12,1,SurveyData,2017-07-18 13:23:45,7/18/17,9:23:45,7/18/17 9:23:45,42934.39149,60.930000,33825.0,971.0,...,WORKING,NaN,COMFORTABLE,165.1,111.6,200.0,Female,85.980003,61.099998,0
17,1,SurveyData,2017-07-18 13:27:53,7/18/17,9:27:53,7/18/17 9:27:53,42934.39436,60.900002,34073.0,1219.0,...,OTHER,study,COMFORTABLE,165.1,111.6,200.0,Female,85.980003,61.099998,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7292,80,SurveyData,2018-02-14 00:31:09,2018-02-13,20:31:09,2018-02-13 20:31:09,NaN,65.300003,NaN,NaN,...,WORKING,NaN,SLIGHTLY_UNCOMFORTABLY_COLD,171.0,99.0,141.1,Female,29.660000,53.500000,-1
7293,80,SurveyData,2018-02-14 00:36:04,2018-02-13,20:36:04,2018-02-13 20:36:04,NaN,64.900002,NaN,NaN,...,WORKING,NaN,SLIGHTLY_UNCOMFORTABLY_COLD,171.0,99.0,141.1,Female,29.660000,53.500000,-1
7304,80,SurveyData,2018-02-14 00:46:06,2018-02-13,20:46:06,2018-02-13 20:46:06,NaN,69.199997,NaN,NaN,...,WORKING,NaN,COMFORTABLE,171.0,99.0,141.1,Female,29.660000,53.500000,0
7305,80,SurveyData,2018-02-14 00:51:05,2018-02-13,20:51:05,2018-02-13 20:51:05,NaN,75.900002,NaN,NaN,...,WORKING,NaN,SLIGHTLY_UNCOMFORTABLY_WARM,171.0,99.0,141.1,Female,29.660000,53.500000,1
7306,80,SurveyData,2018-02-14 00:56:07,2018-02-13,20:56:07,2018-02-13 20:56:07,NaN,77.400002,NaN,NaN,...,WORKING,NaN,SLIGHTLY_UNCOMFORTABLY_WARM,171.0,99.0,141.1,Female,29.660000,53.500000,1

In [54]:
df[lambda df: df['class'] == 'MergedData']

,Participant_No,class,timestamp,Day,Time Broken,Day_Time,Text(Day_Time),Temperature (Fahrenheit),Total Seconds,Diff Seconds,...,Activity,ActivityDescription,Thermal Comfort TA,Height(cm),Shoulder Circumference(cm),Weight(lbs),Gender,Temperature_outside,Humidity_outside,Discrete Thermal Comfort_TA
65,1,MergedData,2017-07-18 14:38:04,7/18/17,10:38:04,7/18/17 10:38:04,42934.44310,77.839996,38284.0,5430.0,...,OTHER,NaN,COMFORTABLE,165.1,111.6,200.0,Female,85.940002,59.099998,0
70,1,MergedData,2017-07-18 14:53:11,7/18/17,10:53:11,7/18/17 10:53:11,42934.45360,64.459999,39191.0,6337.0,...,OTHER,NaN,COMFORTABLE,165.1,111.6,200.0,Female,88.720001,59.099998,0
71,1,MergedData,2017-07-18 14:58:07,7/18/17,10:58:07,7/18/17 10:58:07,42934.45703,63.439999,39487.0,6633.0,...,OTHER,study,COMFORTABLE,165.1,111.6,200.0,Female,88.720001,59.099998,0
160,2,MergedData,2017-07-19 22:20:10,7/19/17,18:20:10,7/19/17 18:20:10,42935.76400,77.440002,66010.0,4878.0,...,WORKING,NaN,COMFORTABLE,155.4,102.4,117.2,Female,83.959999,63.900002,0
165,2,MergedData,2017-07-19 22:25:12,7/19/17,18:25:12,7/19/17 18:25:12,42935.76750,77.250000,66312.0,5180.0,...,WORKING,NaN,COMFORTABLE,155.4,102.4,117.2,Female,83.110001,63.900002,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7147,79,MergedData,2018-02-03 16:30:20,2018-02-03,12:30:20,2018-02-03 12:30:20,NaN,78.599998,NaN,NaN,...,WORKING,NaN,COMFORTABLE,169.0,105.0,125.6,Female,29.299999,54.099998,0
7152,79,MergedData,2018-02-03 16:35:21,2018-02-03,12:35:21,2018-02-03 12:35:21,NaN,78.800003,NaN,NaN,...,WORKING,NaN,COMFORTABLE,169.0,105.0,125.6,Female,29.299999,54.099998,0
7165,79,MergedData,2018-02-03 16:55:20,2018-02-03,12:55:20,2018-02-03 12:55:20,NaN,79.800003,NaN,NaN,...,WORKING,NaN,COMFORTABLE,169.0,105.0,125.6,Female,29.559999,53.200001,0
7166,79,MergedData,2018-02-03 17:00:19,2018-02-03,13:00:19,2018-02-03 13:00:19,NaN,74.599998,NaN,NaN,...,WORKING,NaN,COMFORTABLE,169.0,105.0,125.6,Female,29.559999,53.200001,0
7208,80,MergedData,2018-02-13 22:22:13,2018-02-13,18:22:13,2018-02-13 18:22:13,NaN,69.699997,NaN,NaN,...,SOCIALIZING,NaN,COMFORTABLE,171.0,99.0,141.1,Female,29.660000,53.500000,0

In [41]:
df.loc[df.index, ['class', 'GSR']]

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'